body {
    background-color:  rgb(255, 255, 255);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


.section, .subsection {
    padding-top: 60px;
    padding-bottom: 60px;
    /* border: 1px solid black; */
}

.grey-bg{
    background-color: #d7d7d8;
}

.white-bg {
    background-color: #ffffff;
}

.theme-bg {
    /* background-color: #d9832e; */
    background-color: #0091cd;
}

#home {
    background-image: url('Images/home-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.home-banner-01 {
    background-position: 70% center;
}


#home-info {
    /* background-color: #ffffff;
    opacity: 0.5; */
    /* padding: 40px; */
    margin-top: 150px;
}

.home-info-text {
    background: rgba(255, 255, 255, 0.8);
    padding: 25px;
}

label {
    border-right: 1px solid gray;                                  
    flex: 0 0 90px;
}

img {
    max-width: 100%;
}

.contact-form {
    background-color: #ffffff;;
    border-radius: 5px;
    padding: 5%;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;                                      
}

.contact-info {
    background-color: #ffffff;
    border-radius: 5px;
}

.contact-info:not(:first-child) {
    margin-top: 20px;
}

.header-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 115px;

    overflow: hidden;
    transition: 0.5s;
    background-color: #ffffff;
    z-index: 10;
    bottom: 0;
    box-shadow: 0 0 10px #719ECE;
}

.header-left .nav li a i {
    font-size: 20px;
    width: 100%;
}

.header-left .nav li a {
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0;
    display: block;
    position: relative;
    border-bottom: 1px solid rgba(9, 10, 12, 0.06);
    text-transform: uppercase;
    letter-spacing: 0.055rem;
    color: #0091cd;
}

.header-left .navbar-brand {
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 0;
}

/* My Skills */
.feature-box-2 .icon {
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #0091cd;
}

/* Portfolio
------------------------------------------------------- */

.portfolio-item {
    display: block; 
    width: 100%;
    height: auto;
}


.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: #008CBA; */
    opacity: 1;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.portfolio-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.portfolio-item:hover .overlay {
    width: 100%;
}

.portfolio-box:hover {
    transform:scale(1.1,1.1);
}

.feature-box-2 {
    padding: 18px 15px;
    border-radius: 5px;
    background: #ffffff;
    border: 2px solid #0091cd;                            
}

.feature-box-1 .icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    border: 2px dotted #0091cd;
    color: #0091cd;
    font-size: 32px;
    margin-bottom: 22px;
}

.feature-box-1 .icon i {
    padding-left: 1px;
    padding-top: 13px;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #56a0d3;
    z-index: 98989;
}

.load-gif {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 100px;
}

input:hover { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.openbtn {
    float: right;
}

.mob-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 6px 10px;
    background: #ffffff;
}

.header-left-show {
    width: 115px !important;
}

.header-left-hide {
    width: 0px;
}

/* Footer */

.footer {
    padding: 15px 0;
    background-color: #111;
}

.footer p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    /* margin: 0; */
}


/* Testimonials */
.carousel-item {
    background-color: silver;
}


/* Blog */
.blog-info {
    position: relative;
    /* border-color: #719ECE; */
    box-shadow: 0 0 10px #719ECE;
    top: -10px;
    z-index: 100;
    padding: 15px;
    margin-left: 9px;
    margin-right: 9px;
    background-color: #ffffff;
}

@media screen and (max-width: 900px) {
    .mob-header {
        display: block;
    }

    .header-left {
        width: 0px;
    }

}


.go-to-next {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    width: 35px;
    margin: auto;
    z-index: 1;
    text-align: center;
} 
.go-to-next a {
    width: 35px;
    height: 35px;
    position: relative;
    display: inline-block;
    background: #0091cd;
    border-radius: 50%;
    animation: down 1s linear infinite;
    -webkit-animation: down 1s linear infinite;
}

.go-to-next a span {
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

@-webkit-keyframes down {
    0% {
      top: 5px;
      opacity: 0;
    }
    30% {
      top: 15px;
      opacity: 1;
    }
    60% {
      top: 15px;
      opacity: 0.60;
    }
    100% {
      top: 25px;
      opacity: 0;
    }
  }
  @keyframes down {
    0% {
      top: 5px;
      opacity: 0;
    }
    30% {
      top: 15px;
      opacity: 1;
    }
    100% {
      top: 25px;
      opacity: 0;
    }
  }

